@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=PT+Sans+Caption&display=swap");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

/* шапка */


.wrapper .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 10px 0;
}

.wrapper .header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #383838;
    z-index: 2;
}

.wrapper .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

/* логотип */


.wrapper .header__logo {
    flex: 0 0 250px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    outline: none;
}

.wrapper .header__logo img {
    max-width: 100%;
    overflow: hidden;
    outline: none;
}

.wrapper .header__burger {}

.wrapper .header__burger span {}

.wrapper .header__menu {}

/* для мобилы */


@media (max-width: 767px) {

    /* запрет прокрутки при открытом меню */
    body.lock {
        overflow: hidden;
    }

    .wrapper .header__logo {
        flex: 0 0 100px;
    }

    .wrapper .header__body {
        height: 50px;
    }

    .wrapper .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .wrapper .header__burger span {
        position: absolute;
        background-color: #fafafa;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.6s ease 0s;
    }

    .wrapper .header__burger:before,
    .wrapper .header__burger:after {
        content: '';
        background-color: #fafafa;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
    }

    .wrapper .header__burger:before {
        top: 0;
    }

    .wrapper .header__burger:after {
        bottom: 0;
    }

    .wrapper .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px
    }

    .wrapper .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .wrapper .header__burger.active span {
        transform: scale(0);
    }

    .wrapper .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.7s ease 0s;
        background: rgb(91, 122, 121);
        padding: 70px 10px 20px 0px;
    }

    .wrapper .header__menu.active {
        top: 0;
    }

    .wrapper .header__list {
        flex-direction: column;
    }

    .wrapper li {
        margin-bottom: 20px;
    }
}

/* ссылки */


.wrapper .header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.wrapper li {
    list-style: none;
    margin-left: 20px;
}

.wrapper .header__link {
    color: #fafafa;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1rem;
    font-weight: 500;
    font-size: .9rem;
    transition: color .3s linear;
    position: relative;

}

.wrapper .header__link:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #4973ff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s linear;
}

.wrapper .header__link:hover {
    color: gray;
}

.wrapper .header__link:hover:after {
    opacity: .6;
}

/* интро с кнопкой */


.wrapper .content {
    margin-top: 80px;
    width: 100%;
    background: url("../img/header-bg.jpg");
    padding: 10%;
}

@media (max-width: 767px) {
    .wrapper .content {
        margin-top: 50px;
    }
}

.wrapper .content .content__intro {}

.wrapper .content__text {}

.content__intro_title,
.content__intro_info {
    text-align: center;
    color: #fafafaff;
    font-family: 'Montserrat', sans-serif;
}

.content__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* заголовок */

.content__intro_title {
    margin-bottom: 20px;
    font-size: 3rem;
}

@media (max-width: 767px) {
    .content__intro_title {
        font-size: 2rem;
    }
}

/* параграф */


.content__intro_info {
    font-size: 1.5rem;
    margin-bottom: 10%;
}

/* кнопка */


.content__text_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

.content__text__btn_communication {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    position: relative;

    text-decoration: none;

    border: 1px solid #fafafa;
    border-radius: 0 0 10px 10px;
    width: 200px;
    height: 60px;

    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
}

.content__text__btn_communication:hover .content__text__btn__communication_waves {
    top: -50px;
}

.content__text__btn_communication:hover {
    border-radius: 10px;

    transition: all 0.8s ease 0.2s;
    -webkit-transition: all 0.8s ease 0.2s;
    -moz-transition: all 0.8s ease 0.2s;
    -ms-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;

    -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.content__text__btn__communication_text {
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
    position: relative;
    z-index: 1;
}

.content__text__btn__communication_waves {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: #4973ff;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
}

.content__text__btn__communication_waves:after,
.content__text__btn__communication_waves:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;

    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.content__text__btn__communication_waves:before {
    background-color: #000;
    border-radius: 48%;

    animation: waves 5s infinite linear;
    -webkit-animation: waves 5s infinite linear;
    -moz-animation: waves 5s infinite linear;
    -o-animation: waves 5s infinite linear;
}

.content__text__btn__communication_waves:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 44%;

    animation: waves 10s infinite linear;
    -webkit-animation: waves 10s infinite linear;
    -moz-animation: waves 10s infinite linear;
    -o-animation: waves 10s infinite linear;
}

@keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    }
}

@-webkit-keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    }
}

@-moz-keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    }
}

@-o-keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    }
}

/* Обо мне */

.aboutme {
    background-color: #fafafa;
    padding: 10%;
}

.aboutme__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aboutme__info_image {
    margin-bottom: 10%;
    position: relative;
}

.aboutme__info_image_href {
    display: block;
}

.aboutme__info__image_iam {
    width: 300px;
    transition: .5s;
}

.aboutme__info__image_iam:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.aboutme__info_text {
    padding: 0 10%;

}

.aboutme__info__text_hs {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #030404;
    line-height: 1.7rem;
}

em {
    position: absolute;
    bottom: 0;
    display: none;
    color: #fafafa;
    background: #4f4f4f;
    border-radius: 10px;
    padding: 10px;
    margin-left: 21%;
    line-height: 1.2em;
    font-family: cursive;
    letter-spacing: .1em;
    z-index: 1;
    width: 200px;
    text-align: center;
}

@media (max-width: 767px) {
    .aboutme__info__image_iam {
        width: 200px;
    }

    .aboutme__info__text {
        display: block;
        position: relative;

    }
}

.communication {
    background-color: #19242a;
    padding: 10%;
}

.communication__box__title_2,
.communication__box__icons__tetx_title {
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

.communication__box__icons_tetx {}

.communication__box__icons__tetx_title {
    font-size: .9rem;
    text-align: center;
}

.communication__box__title_2 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 5%;
}

.communication__box_icons {
    display: flex;
    justify-content: center;
}

.communication__box__icons_1 {
    display: flex;
    flex-direction: column;
}

.communication__box__icons_2 {
    display: flex;
    flex-direction: column;
}

.communication__box__icons_3 {
    display: flex;
    flex-direction: column;
}

.communication__box__icons_image {}

.communication__box__icons__image_sprite {
    width: 2.5em;
    height: 2.5em;
    margin: 0 6em 0;
    transition: .4s;
}

.communication__box__icons__image_sprite:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
    -webkit-filter: saturate(2.5);
    filter: drop-shadow(0 0 6px blue);
}

@media (max-width: 767px) {
    .communication__box_icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .communication__box_title {
        margin-bottom: 10%;
    }

    .communication__box__title_2 {
        font-size: 2rem
    }

    .communication__box__icons_1 {
        margin-bottom: 10%;
    }

    .communication__box__icons_2 {
        margin-bottom: 10%;
    }
}

/* Сладер */

.slider {
    background: #ebebeb;
    padding: 10%;
}

.slider__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #141d22;
    margin-bottom: 5%
}

.slick-track {
    display: flex;
}

.slider__item img {
    width: 400px;
}

.slider__item slick-slide slick-active {
    background-position: center center;
}

.slick-list {
    overflow: hidden;
}

.slider__card {
    position: relative;
    padding: 0 50px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.slick-arrow.slick-prev {
    left: 0;
    background: url('../img/icons/arrow%20-left.svg') 0 0 / 100% no-repeat;
    opacity: .3;
}

.slick-arrow.slick-prev:hover {
    -ms-transform: scale(1.3);
    /* IE 9 */
    -webkit-transform: scale(1.3);
    /* Safari 3-8 */
    transform: scale(1.3);
    opacity: inherit;
    transition: .4s;
}

.slick-arrow.slick-next {
    right: 0;
    background: url('../img/icons/arrow-right.svg') 0 0 / 100% no-repeat;
    opacity: .3
}

.slick-arrow.slick-next:hover {
    -ms-transform: scale(1.3);
    /* IE 9 */
    -webkit-transform: scale(1.3);
    /* Safari 3-8 */
    transform: scale(1.3);
    opacity: inherit;
    transition: .4s;
}

.slick-arrow.slick-next:before {
    transition: .4s;
}

.slick-prev:active,
.slick-prev:focus,
.slick-next:active,
.slick-next:focus,
.slick-dots button:active,
.slick-dots button:focus {
    outline: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    list-style: none;
    margin: 0 5px;
}

.slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background: #b4b4b4;
    border-radius: 50%;

}

.slick-active button {
    background-color: #4973ff;
    border: 2px solid #b4b4b4;
}

.footer {
    background: #141d22;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
